		
		
			
		/* ----------------------------------------------------------------------------------------------------------------
		    
	    * Project     : Passported
	    * Document    : less/style 
	    * Created on  : Ago 01, 2.015
	    * Version     : 1.0 
	    * Author      : Aday Henriquez
	    * Description : This less file manages font styles
	    
	    -------------------------------------------------------------------------------------------------------------------
	       *          This code has been developed by NOLOGY. in the awesome Canaries - www.nologystudio.com           *
	    -------------------------------------------------------------------------------------------------------------------
	   
	    * Log * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        -------------------------------------------------------------------------------------------------------------------
        *  
        ---------------------------------------------------------------------------------------------------------------- */
		
		@path: '../fonts/';
		
		@font-face
		{
			font-family: 'G-italic';
		    src: url('@{path}garamond-bold-italic.eot');
		    src: url('@{path}garamond-bold-italic.eot?#iefix') format('embedded-opentype'),
		         url('@{path}garamond-bold-italic.woff') format('woff'),
		         url('@{path}garamond-bold-italic.ttf') format('truetype'),
		         url('@{path}garamond-bold-italic.svg#G-italic') format('svg');
		    font-weight: normal;
		    font-style: normal;
		}
		
		/*@font-face
		{
			font-family: 'icons';
		    src: url('@{path}icon-webfont.eot');
		    src: url('@{path}icon-webfont.eot?#iefix') format('embedded-opentype'),
		         url('@{path}icon-webfont.woff') format('woff'),
		         url('@{path}icon-webfont.ttf') format('truetype'),
		         url('@{path}icon-webfont.svg#icons') format('svg');
		    font-weight: normal;
		    font-style: normal;
		}*/
		
		#font
		{
			// | i | Set fonts...
			/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
			
			.browser-fixes()
			{
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			
			.font-set(@font,@size,@color)
			{
				font: normal @size @font,sans-serif;
				color: @color;
				.browser-fixes();
			}
		
			.lato(@size,@color,@weight)
			{
				font: normal @size 'Lato',sans-serif;
				font-weight: @weight;
				color: @color;
				.browser-fixes();
			}
			
			.gar(@size,@color)
			{
				font: normal @size 'G-italic',serif;
				color: @color;
				font-style: italic;
				.browser-fixes();
			}
			
			.ic(@size,@color)
			{
				font: normal @size 'passported-icons';
				color: @color;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				.browser-fixes();
			}
		}