container_commands:
  010copySettingsConfig:
    command: cp .ebextensions/env/$PARAM1/settings.php sites/default/
  011copyEnvConfig:
    command: cp .ebextensions/env/$PARAM1/Env.class.php sites/all/modules/feflip_features/classes/
  020_setup_apache:
    command: cp .ebextensions/config/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf