		
		
			
		/* ----------------------------------------------------------------------------------------------------------------
		    
	    * Project     : F+F
	    * Document    : less/style
	    * Created on  : Oct 08, 2.014
	    * Version     : 1.0 
	    * Author      : Aday Henriquez
	    * Description : user interface style
	    
	    -------------------------------------------------------------------------------------------------------------------
	       *          This code has been developed by NOLOGY. in the awesome Canaries - www.nologystudio.com           *
	    -------------------------------------------------------------------------------------------------------------------
	   
	    * Log * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        -------------------------------------------------------------------------------------------------------------------
        *  
        ---------------------------------------------------------------------------------------------------------------- */
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Circle mask ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	
		.ui-set-circle-mask(@size)
		{
			&
			{
				.reset();
				.set-size(@size,@size);
				border-radius: 2*@size;
				overflow: hidden;
				background-color: @color-1;
				
				// | i | This fix the issue with the mask in Safari
				//-webkit-mask-image: -webkit-radial-gradient(circle,transparent,transparent);
				
				img
				{
					.set-size(100%,100%);
					#align > .left;
				}
			}
		}
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Social media nav ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.ui-set-social-media-nav(@color:white,@btn-size:34px)
		{
			& > a
			{
				.set-size();
				.set-opacity(1);
				.animate-opacity();
				#font > .ic(@btn-size,@color,@btn-size);
				#align > .left;
				display: block;
				margin: 0 @unit;
				
				.set-icon(@icon)
				{
					&:before
					{
						content: '\@{icon}';
					}
				}
				
				&[rel="facebook"]   { .set-icon('e0aa'); }
				&[rel="twitter"]    { .set-icon('e0ab'); }
				&[rel="pinterest"]  { .set-icon('e0ac'); }
				&[rel="instagram"]  { .set-icon('e0b1'); }
				&[rel="google-plus"]{ .set-icon('e0ad'); }
				
				&:hover
				{
					.set-opacity(0.5);
				}
			}
		}
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Button style ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	
		#ui-set-button
		{
			.rounded(@color:@color-2,@font-size,@padding:@ref-padding)
			{
				#font > .l-light(@font-size,white);
				background-color: @color;
				padding: 2 * @unit @padding;
				border-radius: 100px;
				text-transform: uppercase;
				text-align: center;
			}
			
			.circle(@s,@fs,@bc,@brc:@color-2,@fc:@color-2)
			{
				.set-size(@s,@s);
				.set-bgc(transparent);
				#align > .left;
				overflow: hidden;
				border: solid 2px @brc;
				border-radius: @s;
				color: @fc;
				font-size: @fs;
			}
			
			.header()
			{}
		}
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Input style ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	
		#ui-set-input
		{
			.input-text(@bg-color:orange,@font-size:16px,@font-color:white,@padding:@ref-padding)
			{
				#font > .l-normal(@font-size,@font-color);
				.set-placeholder-style(fadeout(@font-color,50%));
				background-color: @bg-color;
				padding: @padding/2 @padding;
				border-radius: @unit;
			}
			
			.input-submit(@font-color:white)
			{
				#font > .l-light(32px,@font-color);
				text-transform: uppercase;
			}
			
			.counter(@s:150px,@fs:64px,@bc:transparent)
			{
				&
				{
					& > small
					{
						.set-size(100%);
						#font > .l-light(24px,@grey-2);
						#align > .left;
						margin: 0 0 @ref-padding/2 0;
						display: block;
						text-align: center;
						text-transform: uppercase;
					}
					
					& > div.counter-wrapper
					{
						#ui-set-button > .circle(@s,@fs,@bc,@grey-2);
						
						input[type="text"]
						{
							.reset();
							.set-size(@s,@s);
							.set-pos(absolute);
							#font > .l-light(64px,@color-2);
							text-align: center;
						}
						
						nav
						{
							@size: 25px;
							
							.set-size(@size,2*@size);
							.set-pos(absolute);
							overflow: hidden;
							display: block;
							right: 20px;
							top: 50%;
							margin-top: -@size;
							
							button
							{
								.reset();
								.set-size(@size,@size);
								.animate-color();
								#align > .left;
								#font > .ic(20px,@color-2);
								
								&[rel="plus"]
								{
									&:before
									{
										content: '\4c';
									}
								}
								
								&[rel="minus"]
								{
									&:before
									{
										content: '\4b';
									}
								}	
								
								&:hover
								{
									color: @grey-1;
								}
							}
						}
					}
				}
			}
			
			.calendar()
			{
				div.month-gallery
				{
					@day-size: 50px;
					@day-m: 2px;
					@w: 7 * (@day-size + 2 * @day-m);
					
					.set-size(@w);
					#align > .left;
					margin: 0 @ref-padding;
					overflow: hidden;
					
					header
					{
						h6
						{
							#font > .l-light(14px,@color-2);
						}
						
						nav
						{
							.set-size();
							#align > .center;
							padding: 2*@unit 0;
							display: table;
							overflow: hidden;
							
							small
							{
								.set-size();
								#font > .l-light(16px,@grey-2);
								#align > .left;
								margin: 0 @ref-padding;
								text-align: center;
							}
							
							button[rel]
							{
								.reset();
								.animate-color();
								#font > .ic(22px,@color-2);
								#align > .left;
								
								&[rel="prev"]:before
								{
									content: '\23';
								}
								
								&[rel="next"]:before
								{
									content: '\24';
								}
								
								&:hover
								{
									color: @grey-1;
								}
							}
						}
					}
					
					div[id].month-container
					{
						.set-size(@w);
						#align > .left;
						display: block;
						
						& > header
						{
							.set-size(100%);
							#align > .left;
							
							small
							{
								.set-size(@day-size + 2 * @day-m);
								#font > .l-normal(10px,@grey-2);
								#align > .left;
								text-align: center;
								margin-bottom: @unit;
								text-transform: uppercase;
							}
						}
						
						button
						{
							.animate-all();
							.performance();
							
							#font > .l-light(18px,@color-2);
							#ui-set-button > .circle(@day-size,18px,transparent,@grey-2);
							#align > .left;
							margin: @day-m;
							border-width: 1px;
							
							&[id="sat"],
							&[id="sun"]
							{
								.set-bgc(fadeout(@color-2,75%));
							}
							
							&:hover,
							&.on
							{
								.set-bgc(@color-1);
								border-color: @grey-1;
								color: @grey-1;
							}
						}
					}
				}
			}
		}
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Icons ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	
		.ui-add-icon(@icon,@x,@y)
		{
		}
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Global styles ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.ui-global-styles()
		{
			*.middle-line
			{
				@w: 29%;
				@margin: 10%;
				@color: @grey-1;
				
				.set-size(100%);
				.box-sizing();
				#align > .left;
				#font > .gar(20px,@color);
				padding: @ref-padding;
				text-align: center;
				display: block;
				
				&:before,
				&:after
				{
					.set-size(@w,1px);
					.set-bgc(@color);
					.set-pos(absolute);
					top: 50%;
					left: 50%;
					display: block;
					content: '';
				}
				
				&:before
				{
					margin-left: -1 * (@w + @margin);
				}
				
				&:after
				{
					margin-left: @margin;
				}
			}
			
			ul[role="select"]
			{
				@alpha-effect: 0.5;
				
				.set-size(240px);
				
				li
				{
					#ui-set-button > .rounded(fadeout(@color-1,5%),14px);
					.box-sizing();
					.set-opacity(1);
					.animate-opacity();
					.performance();
					.hide(1);
					cursor: pointer;
					border: solid 2px @color-2;
					margin-bottom: @unit;
					color: @color-4;
					
					&:first-child
					{
						.show();
						.ui-add-icon('down-arrow',right,center);
						background-color: @color-2;
						color: white;
						
						&:after
						{
							.set-size();
							.set-pos(absolute);
							#font > .ic(22px,white);
							#align > .right;
							display: block;
							content: '\22';
							top: -4px;
							right: -10px;
						}
					}
					
					&:hover
					{
						.set-opacity(@alpha-effect);
					}
				}
				
				&:hover
				{
					li
					{
						display: block;
						
						&:first-child
						{
							.set-opacity(@alpha-effect);
						}
					}
				}
			}
			
			form[id="booking-search"]
			{
				@margin-ref:  1.5 * @gutter;
						
				.set-size(@global-wrapper-width);
				#align > .center;
				display: block;
				overflow: hidden;
				
				label
				{
					#align > .left;
					margin: @margin-ref;
					
					span
					{
						#align > .left;
						#font > .l-normal(12px,@grey-1);
						text-transform: uppercase;
						margin-bottom: @unit;
					}
					
					input
					{
						.reset();
						.box-sizing();
						.set-bgc(fadeout(@color-2,90%));
						#align > .left;
						#font > .l-normal(18px,@color-4);
						border-radius: @unit;
						border: solid 2px @color-3;
						padding: @gutter;
						display: block;
						clear: both;
						
						&[name="rooms"],
						&[name="adults"],
						&[name="children"]
						{
							.set-size(70px);
						}
						
						&[name="check-in"],
						&[name="check-out"],
						{
						}
					}
				}
				
				input[type="submit"]
				{
					.reset();
					#ui-set-button > .rounded(@color-2,18px);
					#align > .right;
					margin: 35px @margin-ref 0 @margin-ref;
				}
			}
		}
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Slideshow ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		.ui-set-slideshow(@height:@header-height)
		{
			& > ul
			{
				.reset();
				.set-size(auto,@height);
				#align > .left;
				display: block;
				min-width: 100%;
			
				& > li
				{
					.set-size(100%,@height);
					#align > .left;
					
					article
					{
						.set-size(100%,@height);
						#align > .left;
						display: block;
						overflow: hidden;
						
						&:first-child
						{
							.show();
						}
						
						& > figure
						{
							.set-size(100%,100%);
							.set-pos(absolute);
							.set-bg(transparent);
							.set-coord(0,0);
							.z(0);
							padding: 0;
							margin: 0;
							overflow: hidden;
							
							img
							{
								.set-size(100%);
								border: 0;
							}
						}
						
						& > div.info-wrapper
						{
							@w: @global-wrapper-width/2;
							@h: @header-height/2;
							@m: -120px;
							
							.set-size(@w,@h);
							.set-pos(absolute);
							.z(1);
							#align > .absolute-center(@h,@w);
							margin-top: @m;
							display: block;
							
							a
							{
								@shadow: 1px 1px 0px black;
								
								.set-size(100%);
								.box-sizing();
								.animate-opacity();
								.set-opacity(1);
								#align > .left;
								margin: @unit auto;
								
								h1,h2,h3,h4,h5,h6
								{
									.set-size();
									#font > .l-bold(48px,white);
									text-align: center;
									text-transform: uppercase;
									text-shadow: @shadow;
								}
								
								span
								{
									#align > .left;
									display: block;
									clear: both;
									
									&.rounded-btn
									{
										.set-size();
										#ui-set-button > .rounded(@color-2,20px,40px);
										#align > .center;
										display: table;
									}
								
									&.cursive
									{
										.set-size(100%);
										#font > .gar(18px,white);
										text-align: center;
										margin: @unit 0 @ref-padding 0;
										text-shadow: @shadow;
									}
								}
								
								&:hover
								{
									.set-opacity(0.5);
								}
							}
						}
					}
				}
				
			}
			
			& > button[rel]
			{
				@arrow-size: 50px;
				@margin: 50px;
				
				.reset(); 
				.set-size(@arrow-size,@arrow-size);
				.set-pos(absolute);
				.set-opacity(0.75);
				.animate-opacity();
				.hide();
				#font > .ic(@arrow-size/1.5,white,@arrow-size);
				top: 50%;
				margin-top: -@arrow-size/2;
				cursor: pointer;
				z-index: 1;
				
				&[rel="left"]
				{
					left: @margin;
					
					&:before
					{
						content: "\23";
					}
				}
				
				&[rel="right"]
				{
					right: @margin;
					
					&:before
					{
						content: "\24";
					}
				}
				
				&:hover
				{
					.set-opacity(1);
				}
			}
			
			& > div[id$="-state-bar"]
			{	
				@ref-size: 30px;
				@width: 3 * @ref-size;
				
				.set-size(@width,@ref-size);
				.set-pos(absolute);
				left: 50%;
				bottom: 0;
				margin-left: -@width/2;
				padding: 40px 0px 20px 0px;
				z-index: 1;
				
				button
				{
					.reset();
					.set-size(@ref-size,@ref-size);
					#align > .left;
					display: block;
					cursor: pointer;
					color: white;
					
					&.on
					{
						color: red;
					}
				}
			}
		}
		