		
		
			
		/* ----------------------------------------------------------------------------------------------------------------
		    
	    * Project     : F+F
	    * Document    : less/style
	    * Created on  : Oct 08, 2.014
	    * Version     : 1.0 
	    * Author      : Aday Henriquez
	    * Description : Global less/css style
	    
	    -------------------------------------------------------------------------------------------------------------------
	       *          This code has been developed by NOLOGY. in the awesome Canaries - www.nologystudio.com           *
	    -------------------------------------------------------------------------------------------------------------------
	   
	    * Log * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        -------------------------------------------------------------------------------------------------------------------
        *  
        ---------------------------------------------------------------------------------------------------------------- */
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Global Variables and Importers ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */	
		
		@global-width: 100%;
		@global-wrapper-width: 1040px;
		@media-url: '../media/';
		@section-url: '../sections/';
		@ref-padding: 30px;
		@unit: 5px;
		
		/* ~ Grid ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */	
		
		@gutter: 10px;
		@row-height: 10px;
		@grid-3-col: @global-wrapper-width/3;
		@grid-5-col: @global-wrapper-width/5;
		
		/* ~ Color swatches ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */	
		
		@color-1: red;
		@color-2: blue;
		@color-3: black;
		
		/* ~ Header ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		@header-height: 600px;
			
		/* ~ Navigation ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		@nav-height: 100px;
		
		/* ~ Section ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
			
		/* ~ Footer ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
			
		/* ~ Importers ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		@import 'fonts';
		@import '../tools/user-interface';
		@import '../tools/tools';
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Main style ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		html, 
		body
		{}
		
		html
		{}
		
		body
		{
		}
		
		body
		{
			& > header,
			& > nav,
			& > div,
			& > aside,
			& > main,
			& > section,
			& > footer
			{
				width: 100%;
				#align > .left;
			}
		}
		
		*
		{
			outline: none;
		}
		
		ul, 
		a, 
		h1, 
		h2, 
		h3, 
		h4,
		h5,
		h6
		{
			.reset();
			list-style: none;
		}

		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ [H] Header ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
			
		body > header
		{
			.set-size(@global-width,@header-height);
			.set-bg();
			.z(0);
			
			a[id="brand"]
			{
				@w: 200px;
				@h: 100px;
				
				.set-size(@w,@h);
				.set-pos(absolute);
				.z(1);
				top: @ref-padding;
				left: 50%;
				margin-left: -@w/2;
			}
			
			div.slideshow-gallery
			{
				.ui-set-slideshow();
			}
			
			nav[id="social-media"]
			{
				.set-pos(absolute);
				.ui-set-social-media-nav();
				top: @ref-padding;
				right: @ref-padding;
			}
		}	

		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ [N] Navigation ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
			
		body > nav[role="main-navigation"]
		{
			.set-size(100%,@nav-height);
			.set-bg(fadeout(black,50%));
			.z(1);
			margin-top: -@nav-height;
			
			div.wrapper
			{
				.set-size(@global-wrapper-width);
				#align > .center;
				display: block;
				
				& > form[id="search"]
				{
					.reset();
					#align > .left;
					
					input
					{
						.reset();
						.set-bg(fadeout(white,50%));
						#align > .left;
						padding: @ref-padding;
						margin: 2 * @unit 0;
						
						&[type="text"]
						{}
						
						&[type="submit"]
						{	
							.set-bg();
						}
					}
				}
				
				& > ul
				{
					@options: 4;
					
					.set-size(auto,100%);
					#align > .right;
					background-color: white;
					padding: @ref-padding;
					margin: 10px 0;
					
					li
					{
						.set-size();
						.box-sizing();
						#align > .left;
						overflow: hidden;
						
						a
						{
							.reset();
							text-transform: uppercase;
						}
						
						& > a + *
						{
							.hide();
						}
					}
				}
			}
		}
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Content ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		body > main[id],
		body > section[id]
		{
			& > div.wrapper
			{
				.set-size(@global-wrapper-width);
				#align > .center;
				display: block;
			}
			
			& > header
			{
				.set-size(100%);
				#align > .left;
				text-align: center;
				padding: @ref-padding 0;
			}
			
			&[id="start-your-journey"]
			{
				*[class$="-wrapper"]
				{
					.set-size(@global-wrapper-width,100%);
					#align > .center;
					display: block;
					
					a
					{
						.set-size(@grid-5-col);
						.box-sizing();
						#align > .left;
						display: block;
						padding-bottom: @ref-padding;
						
						figure
						{
							.ui-set-circle-mask(@grid-5-col);
						}
						
						h1,h2,h3,h4,h5,h6
						{
							.set-size(100%);
							#align > .left;
							text-align: center;
							text-transform: uppercase;
							display: block;
							margin: @ref-padding/2 0;
						}
					}
				}
			}
			
			&[id="map-it"]
			{
				height: 600px;
				display: block;
				
				& > header
				{
					.z(2);
					
					img
					{
						.set-size(100px);
						#align > .center;
						display: block;
					}
				}
				
				div[id="map"]
				{
					.set-size(100%,100%);
					.set-pos(absolute);
					.set-bg(green);
					.set-coord(0,0);
					.z(0);
					
					div.pin
					{
						.hide();
					}
				}
				
				aside
				{
					@width: 200px;
					@increment: 40px;
					
					.set-size(@width,100%);
					.set-bg(black);
					.set-pos(absolute);
					.set-coord(-@width + @increment,0);
					.z(1);
					
					&.on
					{
						left: 0;
					}
				}
			}
			
			&[id="travel-journal"]
			{
				& > header
				{
					.set-size(@global-wrapper-width);
					#align > .center;
					overflow: hidden;
					
					button
					{
						.reset();
						#ui-set-button > .rounded(black,12px,30px);
						#align > .right;
					}
					
					ul
					{
						.hide();
					}
				}
				
				*.quick-entry
				{
					@block-margin: @ref-padding;
					
					.set-size(@grid-3-col);
					.box-sizing();
					.set-bg(#333);
					.set-box-shadow(grey,0,0,10px);
					#align > .left;
					margin: @gutter;
					overflow: hidden;
					
					figure
					{
						.reset();
						.set-size(100%,200px);
						.set-bg(pink);
						#align > .left;
						
						img
						{
							.set-size(100%);
						}
					}
					
					figure + footer
					{
						.set-size(100%);
						.set-pos(absolute);
						.box-sizing();
						background-color: fadeout(@color-1,50%);
						bottom: 0;
						padding: @block-margin;
						text-align: center;
					}
					
					h3,h4,time
					{
						.set-size();
						#align > .left;
						clear: both;
						text-align: center;
					}
					
					// ---------------------------------------------------------
					// | i | Specific styling
					// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
					
					&.review
					{
						padding: @block-margin;
					}
					
					&[id="newsletter-signup"]
					{
						padding: @block-margin;
						
						form
						{
							.set-size(100%);
							#align > .left;
							
							input
							{
								.reset();
								.set-size(100%);
								#align > .left;
								
								&[type="email"],
								&[type="text"]
								{
									.box-sizing();
									background-color: white;
									padding: @block-margin;
								}
								
								&[type="submit"]
								{
									text-transform: uppercase;
								}
							}
						}
					}
					
					&[id="instagram-feed"]
					{}
					
					&[id="twitter-feed"]
					{}
				}
			}
			
			&[id="itinerary"]
			{}
			
			&[id="hotel"]
			{}
			
			&[id="destination"]
			{}
			
			&[id="booking-engine"]
			{}
		}
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ [F] Footer ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

		body > footer
		{
			.set-bg(black);
			
			& > nav
			{
				.set-size(@global-wrapper-width);
				.box-sizing();
				#align > .center;
				display: block;
				padding: @ref-padding 0;
				overflow: hidden;
				
				ul
				{
					.set-size(@grid-3-col);
					.box-sizing();
					#align > .left;
					padding: @gutter;
					
					li
					{
						.set-size(100%);
						.box-sizing();
						#align > .left;
						padding-top: @gutter;
						
						&:first-child
						{
							border-bottom: solid 1px white;
							text-transform: uppercase;
							padding: @gutter @gutter @gutter 60px;
						}
					}
				}
			}
			
			& > div.fixed-bar
			{
				.set-size(100%,100px);
				.box-sizing();
				#align > .left;
				background-color: white;
				padding: @ref-padding;
				
				a[id="brand"]
				{
					.set-pos(absolute);
					left: @ref-padding;
				}
				
				nav[id="social-media"]
				{
					.set-size();
					.ui-set-social-media-nav(black);
					#align > .center;
					display: table;
				}
				
				small
				{
					.set-size(100%);
					#align > .left;
					text-align: center;
					padding: @ref-padding/2 0;
				}
			}
		}
		
		
		
		
		
		
		
		