		
		
			
		/* ----------------------------------------------------------------------------------------------------------------
		    
	    * Project     : F+F
	    * Document    : less/style
	    * Created on  : Oct 08, 2.014
	    * Version     : 1.0 
	    * Author      : Aday Henriquez
	    * Description : Global less/css style
	    
	    -------------------------------------------------------------------------------------------------------------------
	       *          This code has been developed by NOLOGY. in the awesome Canaries - www.nologystudio.com           *
	    -------------------------------------------------------------------------------------------------------------------
	   
	    * Log * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        -------------------------------------------------------------------------------------------------------------------
        *  
        ---------------------------------------------------------------------------------------------------------------- */
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Global Variables and Importers ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */	
		
		@global-width: 100%;
		@global-wrapper-width: 1040px;
		@media-url: '../media/';
		@section-url: '../sections/';
		@ref-padding: 30px;
		@unit: 5px;
		
		/* ~ Grid ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */	
		
		@gutter: 10px;
		@row-height: 10px;
		@grid-3-col: @global-wrapper-width/3;
		@grid-5-col: @global-wrapper-width/5;
		
		/* ~ Color swatches ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */	
		
		@color-1: #D9DFDE;
		@color-2: #9CB1AD;
		@color-3: #96A8A4;
		@grey-1:  #333333;
		
		/* ~ Header ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		@header-height: 780px;
			
		/* ~ Navigation ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		@nav-height: 100px;
		
		/* ~ Section ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
			
		/* ~ Footer ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
			
		/* ~ Importers ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		@import 'fonts';
		@import '../tools/user-interface';
		@import '../tools/tools';
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Main style ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		html, 
		body
		{}
		
		html
		{}
		
		body
		{
			#font > .l-normal(12px,@color-1,auto);
			// | i | This fixes the render issues in Chrome
			-webkit-transform: scale3d(1,1,1);
		}
		
		body
		{
			& > header,
			& > nav,
			& > div,
			& > aside,
			& > main,
			& > section,
			& > footer
			{
				width: 100%;
				#align > .left;
			}
		}
		
		*
		{
			outline: none;
		}
		
		ul, 
		a, 
		h1, 
		h2, 
		h3, 
		h4,
		h5,
		h6
		{
			.reset();
			list-style: none;
		}

		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ [H] Header ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
			
		body > header
		{
			.set-size(@global-width,@header-height);
			.set-bg();
			.z(0);
			.performance();
			overflow: hidden;
			display: block;
			min-height: @header-height/2;
			
			&:before
			{
				@color-top: fadeout(black,0%);
				@color-bottom: fadeout(white,100%);
				
				.set-size(100%,25%);
				.set-pos(absolute);
				.set-bg-gradient(@color-top,@color-bottom);
				.set-opacity(0.7);
				.z(1);
				content: '';
			}
			
			a[id="brand"]
			{
				@w: 330px;
				@h: 150px;
				
				.set-size(@w,@h);
				.set-pos(absolute);
				.z(1);
				top: @ref-padding/2;
				left: 50%;
				margin-left: -@w/2;
			}
			
			nav[id="social-media"]
			{
				@margin: 75px;
				
				.set-pos(absolute);
				.ui-set-social-media-nav();
				.z(1);
				top: @margin;
				right: @margin;
			}
			
			div.slideshow-gallery
			{
				.ui-set-slideshow();
			}
		}	

		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ [N] Navigation ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
			
		body > nav[role="main-navigation"]
		{
			.set-size(100%,@nav-height);
			.set-bg(fadeout(black,20%));
			.z(1);
			margin-top: -@nav-height;
			
			div.wrapper
			{
				.set-size(@global-wrapper-width);
				#align > .center;
				display: block;
				
				& > form[id="search"]
				{
					.reset();
					.set-size(@grid-3-col);
					#align > .left;
					
					input
					{
						.reset();
						.set-bg(fadeout(white,50%));
						#align > .left;
						padding: @ref-padding;
						margin: 2 * @unit 0;
						
						&[type="text"]
						{}
						
						&[type="submit"]
						{	
							.set-bg();
						}
					}
				}
				
				& > ul
				{
					@options: 4;
					
					.set-size(auto,100%);
					#align > .right;
					padding: @ref-padding;
					margin: 10px 0;
					
					li
					{
						.set-size();
						.box-sizing();
						#align > .left;
						overflow: hidden;
						margin: 0 @gutter;
						
						a
						{
							.reset();
							#font > .l-light(18px,white);
							#align > .left;
							text-transform: uppercase;
							display: block;
						}
						
						& > a + *
						{
							.hide();
						}
					}
				}
			}
		}
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ Content ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
		
		body > main[id],
		body > section[id]
		{
			& > div.wrapper
			{
				.set-size(@global-wrapper-width);
				#align > .center;
				display: block;
			}
			
			& > header
			{
				.set-size(100%);
				#align > .left;
				text-align: center;
				padding: @ref-padding 0;
				
				h1,h2,h3
				{
					.set-size();
					#font > .l-ubold(36px,@grey-1);
					display: block;
					
					span
					{
						#font > .gar(18px,@grey-1);
						clear: both;
						display: block;
					}
					
					&.feather
					{
						.set-bg(orange);
					}
					
					&.compass
					{
						.set-bg(pink);
					}
					
					&.simple
					{
						#font > .l-light(22px,@color-2);
						text-transform: uppercase;
						text-decoration: underline;
					}
				}
			}
			
			&[id="start-your-journey"]
			{
				*[class$="-wrapper"]
				{
					.set-size(@global-wrapper-width,100%);
					#align > .center;
					display: block;
					
					a
					{
						@gutter: @ref-padding;
						@border-weight: 2 * @unit;
						
						.set-size(@grid-5-col);
						.box-sizing();
						#align > .left;
						display: block;
						padding-bottom: @ref-padding;
						
						figure
						{
							.ui-set-circle-mask(@grid-5-col - @gutter);
							.performance();
							margin: 0 @gutter/2;
							background-color: @grey-1;
							overflow: hidden;
							
							// | i | This fix the issue with the mask in Safari
							-webkit-mask-image: -webkit-radial-gradient(circle,@grey-1,@grey-1);
							
							img
							{
								.set-opacity(1);
								.animate-opacity();
								#align > .left;
								display: block;
							}
							
							div.border
							{
								.set-size(100%,100%);
								.ui-set-circle-mask(100%);
								.set-pos(absolute);
								.box-sizing();
								.animate-all();
								.set-opacity(0);
								background-color: transparent;
								border: solid 1px @grey-1;
							}
						}
						
						h1,h2,h3,h4,h5,h6
						{
							.set-size(100%);
							.animate-all();
							#font > .l-light(18px,@color-2);
							#align > .left;
							text-align: center;
							text-transform: uppercase;
							display: block;
							margin: @ref-padding/2 0;
						}
						
						&:hover
						{
							figure
							{
								img
								{
									.set-opacity(0.5);
								}
								
								div.border
								{
									.set-opacity(1);
									border: solid @border-weight @grey-1;
								}
							}
							
							*
							{
								color: @grey-1;
							}
						}
					}
				}
			}
			
			&[id="map-it"]
			{
				height: 600px;
				display: block;
				
				& > header
				{
					.z(2);
					
					img
					{
						.set-size(100px);
						#align > .center;
						display: block;
					}
				}
				
				div[id="map"]
				{
					.set-size(100%,100%);
					.set-pos(absolute);
					.set-bg(green);
					.set-coord(0,0);
					.z(0);
					
					div.pin
					{
						.hide();
					}
				}
				
				aside
				{
					@width: 200px;
					@increment: 40px;
					
					.set-size(@width,100%);
					.set-bg(black);
					.set-pos(absolute);
					.set-coord(-@width + @increment,0);
					.z(1);
					
					&.on
					{
						left: 0;
					}
				}
			}
			
			&[id="travel-journal"]
			{
				background-color: white;
				
				& > header
				{
					.set-size(@global-wrapper-width);
					#align > .center;
					overflow: hidden;
					
					button
					{
						.reset();
						#ui-set-button > .rounded(black,12px,30px);
						#align > .right;
					}
					
					ul
					{
						.hide();
					}
				}
				
				*.quick-entry
				{
					@block-margin: @ref-padding;
					
					.set-size(@grid-3-col);
					.box-sizing();
					.set-bg(#333);
					.set-box-shadow(grey,0,0,10px);
					#align > .left;
					margin: @gutter;
					overflow: hidden;
					
					figure
					{
						.reset();
						.set-size(100%,200px);
						.set-bg(pink);
						#align > .left;
						
						img
						{
							.set-size(100%);
						}
					}
					
					figure + footer
					{
						.set-size(100%);
						.set-pos(absolute);
						.box-sizing();
						background-color: fadeout(@color-1,50%);
						bottom: 0;
						padding: @block-margin;
						text-align: center;
					}
					
					h3,h4,time
					{
						.set-size();
						#align > .left;
						clear: both;
						text-align: center;
					}
					
					// ---------------------------------------------------------
					// | i | Specific styling
					// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
					
					&.review
					{
						padding: @block-margin;
					}
					
					&[id="newsletter-signup"]
					{
						padding: @block-margin;
						
						form
						{
							.set-size(100%);
							#align > .left;
							
							input
							{
								.reset();
								.set-size(100%);
								#align > .left;
								
								&[type="email"],
								&[type="text"]
								{
									.box-sizing();
									background-color: white;
									padding: @block-margin;
								}
								
								&[type="submit"]
								{
									text-transform: uppercase;
								}
							}
						}
					}
					
					&[id="instagram-feed"]
					{}
					
					&[id="twitter-feed"]
					{}
				}
			}
			
			&[id="itinerary"]
			{}
			
			&[id="hotel"]
			{}
			
			&[id="destination"]
			{}
			
			&[id="booking-engine"]
			{}
		}
		
		/* ------------------------------------------------------------------------------------------------------------- */
		/* ~ [F] Footer ~ */
		/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

		body > footer
		{
			background-color: black;
			
			& > nav
			{
				.set-size(@global-wrapper-width);
				.box-sizing();
				#align > .center;
				display: block;
				padding: 0 0 @ref-padding 0;
				overflow: hidden;
				
				ul
				{
					.set-size(@grid-3-col);
					.box-sizing();
					#align > .left;
					padding: @gutter;
					
					li
					{
						.set-size(100%);
						.box-sizing();
						#align > .left;
						padding-top: @gutter;
						
						&:first-child
						{
							#font > .l-light(24px,@color-2);
							background-color: red;
							text-transform: uppercase;
							border-bottom: solid 1px @color-2;
							padding: 50px;
							
							span
							{
								@size: 200px; 
								
								.set-size(@size,@size);
								.set-pos(absolute);
								bottom: 0;
								left: 0;
								
								&.popular
								{
									.set-bg(transparent,'@{media-url}icons/fcolor-hotel-icon.png',no-repeat,left,bottom);
								}
								
								&.destination
								{
									.set-bg(transparent,'@{media-url}icons/fcolor-destination-icon.png',no-repeat,left,bottom);
								}
								
								&.ff
								{
									.set-bg(transparent,'@{media-url}icons/fcolor-feather-icon.png',no-repeat,left,bottom);
								}
							}
						}
												
						a
						{
							.set-size(100%);
							.set-opacity(1);
							.animate-opacity();
							#font > .l-light(12px,@color-2);
							text-transform: uppercase;
							
							&:hover
							{
								.set-opacity(0.75);
							}
						}
					}
				}
			}
			
			& > div.fixed-bar
			{
				@height: 100px;
				
				.set-size(100%,@height);
				.box-sizing();
				#align > .left;
				background-color: @color-1;
				padding: 0 @ref-padding;
				
				a[id="brand"]
				{
					.set-size(auto,100%);
					.set-pos(absolute);
					left: @ref-padding;
					
					img
					{
						.reset();
						.set-size(auto,100%);
					}
				}
				
				nav[id="social-media"]
				{
					.set-size();
					.ui-set-social-media-nav(black);
					#align > .center;
					display: table;
				}
				
				small
				{
					.set-size(100%);
					#align > .left;
					text-align: center;
					padding: @ref-padding/2 0;
				}
			}
		}
		
		
		
		
		
		
		
		